<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<!--<h1>Home In Ernakulam {{ktm}}</h1>-->
<!--<form action="add/" method="get">-->
<!--      <input type="text" name="num1" placeholder="num1">-->
<!--      <input type="text" name="num2" placeholder="num2">-->
<!--      <input type="submit">-->
<!--<form action="sub/" method="get">-->
<!--      <input type="text" name="num3" placeholder="num3">-->
<!--      <input type="text" name="num4" placeholder="num4">-->
<!--      <input type="submit">-->
<!--<form action="mul/" method="get">-->
<!--    <input type="text" name="num5" placeholder="num5">-->
<!--    <input type="text" name="num6" placeholder="num6">-->
<!--    <input type="submit" >-->
<!--<form action="div/" method="get">-->
<!--    <input type="text" name="num7" placeholder="num7">-->
<!--    <input type="text" name="num8" placeholder="num8">-->
<!--    <input type="submit">-->

<!--</form>-->
<!--</form>-->
<!--</form>-->
<!--</form>-->
</body>
</html>